.order-summary {
    flex: 1;
    background: #fff;
    padding: 1.8rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    height: fit-content;
    border-top: 4px solid #77449c;
}

.order-summary h3 {
    margin-top: 0;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    color: #333;
    text-align: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    color: #555;
    border-top: 1px solid #f1ecec;
    border-bottom: 1px solid #f1ecec;
}

.product-details h4 {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    color: #333;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
}

.total {
    font-weight: bold;
    font-size: 1.1rem;
    color: #d32f2f;
    margin: 1.5rem;
}

.secure-text {
    font-size: 0.85rem;
    color: #777;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
    line-height: 1.4;
    border-top: 1px solid #f1ecec;
}

.checkout-btn {
width: 100%;
margin-bottom: 1rem;
}
