.order-summary {
    flex: 1;
    background: #fff;
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    height: fit-content;
    border-top: 4px solid #77449c;
}

.order-summary h3 {
    margin-top: 0;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-bottom: clamp(1rem, 2vw, 1.2rem);
    color: #333;
    text-align: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: clamp(0.3rem, 1vw, 0.5rem);
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    color: #555;
    border-top: 1px solid #f1ecec;
    border-bottom: 1px solid #f1ecec;
}

.product-details h4 {
    margin-top: clamp(0.3rem, 1vw, 0.5rem);
    font-size: clamp(1rem, 1.5vw, 1.1rem);
    margin-bottom: clamp(0.8rem, 2vw, 1.2rem);
    color: #333;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(0.5rem, 1vw, 1rem);
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    color: #555;
}

.total {
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.1rem);
    color: #d32f2f;
    margin: clamp(1rem, 2vw, 1.5rem);
}

.secure-text {
    font-size: clamp(0.75rem, 1vw, 0.85rem);
    color: #777;
    margin-top: clamp(0.8rem, 2vw, 1rem);
    padding-top: clamp(0.8rem, 2vw, 1rem);
    text-align: center;
    line-height: 1.4;
    border-top: 1px solid #f1ecec;
}

.checkout-btn {
    width: 100%;
    margin-bottom: clamp(0.8rem, 2vw, 1rem);
}

.checkout-btn.disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
}

@media (max-width: 958px) {
    .order-summary {
        width: 100%;
        margin: 0 auto;
        border-left: none;
        border-right: none;
    }

    
}
