.quantity-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quantity-wrapper button {
    width: clamp(25px, 5vw, 30px);
    height: clamp(25px, 5vw, 30px);
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: clamp(0.8rem, 1vw, 1rem);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.quantity-wrapper button:hover {
    background-color: #f0f0f0;
}

    .quantity-wrapper span {
    min-width: 24px;
    text-align: center;
    font-size: 1rem;
}
