.tabs {
    max-width: 1100px; /* замість width */
    width: 100%;       /* займає всю доступну ширину */
    margin: 2rem auto;
    padding: 0 1rem;  
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

.tab-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #3e3c3c;
}

.tab-buttons .active {
    color: #F83D8E;
    border-bottom: 2px solid hotpink;
}

.tab-content {
    margin: 1.5rem 0;
    font-size: clamp(0.8rem, 2vw, 1rem);
}
