.member-card { 
    text-align: center;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.member-name {
    text-align: center;
    font-family: var(--font-family);
}

.member-socials {
    display: flex;
    justify-content: center;
}

.member-socials img {
    margin: 2px;
    cursor: pointer;
}
.member-card-image img {
    width: 100%;          /* займає всю ширину картки */
    height: auto;         /* автоматична висота для збереження пропорцій */
    max-height: 300px;    /* максимальна висота для великих екранів */
    border-radius: 12px;  /* для краси */
}

/* Адаптивність для маленьких екранів */
@media (max-width: 768px) {
    .member-card-image img {
        max-height: 250px;
    }

    .member-socials {
    width: 90%;
    padding-left: 5%;
    }

    .member-name h3 {
    font-size: clamp(16px, 2vw, 18px); /* мінімум 16px, ідеально 2% ширини екрану, максимум 18px */
}

.member-name p {
    font-size: clamp(12px, 1.5vw, 14px); /* мінімум 12px, ідеально 1.5% ширини екрану, максимум 14px */
}

}

@media (max-width: 480px) {
    .member-card-image img {
        max-height: 200px;
    }
}

