.checkout-page {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    margin: 0 auto;
    background-color: #f9f9fb;
    font-family: var(--font-family);
}

.checkout-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    gap: 32px;
}

.back-to-cart-link {
    display: inline-block;
    margin-bottom: 12px;
    color: #f83d8e;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.back-to-cart-link:hover {
    color: #f83d8e;
}


@media (min-width: 1025px) {
    .checkout-content {
    flex-direction: row;
    align-items: flex-start;
    }
}

@media (max-width: 1024px) {
    .back-to-cart-link {
    order: 0;
    }

    .checkout-content > :nth-child(2) {
    order: 2; 
    }

    .checkout-summary {
    order: 1;
    width: 90%;
    margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .checkout-summary {
        width: 100%;
    }
}