.contact-button {
    border: none;
    padding: clamp(0.5rem, 2vw, 0.9rem) clamp(1rem, 4vw, 2rem); /* адаптивний padding */
    border-radius: clamp(20px, 5vw, 30px); /* адаптивний border-radius */
    color: white;
    font-weight: bold;
    font-size: clamp(0.75rem, 2vw, 1rem); /* адаптивний розмір тексту */
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-button.pink {
    background-color: #F83D8E;
}

.contact-button.purple {
    background-color: #77449c;
}

.contact-button:hover {
    opacity: 0.9;
}

.banner-button {
    padding: clamp(0.5rem, 2vw, 0.9rem) clamp(1rem, 4vw, 2.2rem); 
    border-radius: clamp(2rem, 5vw, 3rem);
    font-weight: 600;
    font-size: clamp(0.75rem, 2vw, 0.95rem); 
    color: #fff;
    box-shadow: 0 3px 22px 3px rgba(104, 50, 146, 0.31);
    background: #683292;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.banner-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


