*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-button {
border: none;
padding: 10px 20px;
border-radius: 30px;
color: white;
font-weight: bold;
cursor: pointer;
transition: 0.3s ease;
}

.contact-button:hover {
    opacity: 0.9;
}

.contact-button.pink {
    background-color: #F83D8E;
}

.contact-button.purple {
    background-color: #77449c;
}

.banner-button {
    padding: 0.9rem 2.2rem;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 0.95rem;
    color: #fff;
    box-shadow: 0 3px 22px 3px rgba(104, 50, 146, 0.31);
    background: #683292;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.banner-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

