*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-card {
    padding: 2vw;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card-image  {
    border-radius: 50%;
    width: clamp(150px, 25vw, 244px);  
    height: clamp(150px, 25vw, 244px);
    background: #ffe7fc;
    padding-top: clamp(20px, 3vw, 35px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 80%;
    height: 80%;
    height: auto;
    object-fit: fill;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    color: #111;
    font-family: var(--font-family);
    font-weight: 600;
}

.product-card h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(13px, 1.8vw, 20px);
    line-height: 120%;
    text-align: center;
    color: #0f0200;
    white-space: pre-line;
}

.product-card p{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(16px, 2.5vw, 20px);
    line-height: 100%;
    text-align: center;
    color: #f83d8e;
}

.product-title-link {
    text-decoration: none;
}

.product-title-link:visited {
    color: inherit; 
}

