*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-card {
    padding: 24px 25px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.card-image {
    border-radius: 254px;
    width: 244px;
    height: 244px;
    background: #ffe7fc;
    padding-top: 35px;
    overflow: hidden;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    color: #111;
    font-family: var(--font-family);
    font-weight: 600;
}

.product-card h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #0f0200;
    white-space: pre-line;
}

.product-card p{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #f83d8e;
}

.product-title-link {
    text-decoration: none;
}

.product-title-link:visited {
    color: inherit; 
}

@media (max-width: 1024px) {
    .product-card {
        max-width: 45vw; /* Приблизно половина екрану мінус відступи */
        padding: 20px 20px;
    }

    .card-image {
        max-width: 200px;
        height: 200px;
        padding-top: 30px;
    }
}

/* Мобільні телефони — 1 картка */
@media (max-width: 576px) {
    .product-card {
        max-width: 90vw;
        padding: 16px 16px;
    }

    .card-image {
        max-width: 180px;
        height: 180px;
        padding-top: 25px;
    }

    .product-card h3 {
        font-size: 18px;
    }

    .product-card p {
        font-size: 20px;
    }
}

