.shop-header {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    background-color: #fff;
    border-radius: 16px;
    gap: 1rem;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.search-input {
    flex: 1 1 auto;
    max-width: 200px; 
    padding: clamp(0.4rem, 1vw, 0.6rem) clamp(0.8rem, 2vw, 1rem);
    border: 1px solid #ddd;
    border-radius: 24px;
    font-size: clamp(0.85rem, 1.5vw, 0.95rem);
}

.search-input:focus {
    border-color: #ff69b4; 
    outline: none;
    box-shadow: 0 0 5px #ff69b4;
}

.view-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    flex-shrink: 0; 
}

.grid-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;   
    height: 35px;  
    background: #fff;
    border: 1px solid #e6648f;
    border-radius: 8px;
    padding: 0; 
    color: #f83d8e;
    cursor: pointer;
    font-size: 1.2rem; 
}

.grid-button.active {
    background: #fff;
    color: #f83d8e;
}

.results-text {
    font-size: clamp(0.8rem, 1.2vw, 0.95rem);
    color: #444;
}

.sort-select {
    flex: 0 1 clamp(130px, 20%, 200px);
    padding: 0.4rem 0.8rem;
    margin-left: auto;
    align-items: center;
    border: 1px solid #a6a0a3;
    border-radius: 24px;
    font-size: clamp(0.85rem, 1.2vw, 0.95rem);
    font-family: var(--font-family);
    color: #554e4e;
    appearance: none;
}

.sort-select:focus {
    border-color: #ff69b4; 
    outline: none;
    box-shadow: 0 0 5px #ff69b4;
}

@media (max-width: 1024px) {
.search-input {
    flex: 1 1 clamp(150px, 25%, 200px); 
    max-width: none; 
    font-size: clamp(0.95rem, 1.5vw, 1.05rem);
}
}

@media (max-width: 425px) {
    .shop-header {
        flex-wrap: wrap;
    }
    .sort-select {
        margin-left: 0;
    }
    
}