.contact-us {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    text-align: center;
    margin: 0 auto;
    padding: 6rem clamp(1rem, 5vw, 4rem) 2rem;
    font-family: var(--font-family);
}

.contact-us-title {
    margin: 15px;
}

.contact-us-title h2 {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: clamp(22px, 5vw, 55px);
    margin-bottom: 10px;
}

.contact-us-title h2 span {
    color: #f83d8e;
}

.contact-us-title p {
    color: rgb(138, 137, 136);
}

.contact-us-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.contact-card {
    width: clamp(280px, 90%, 500px);
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 20px;
    padding: clamp(10px, 3vw, 20px) clamp(15px, 4vw, 25px);
    margin-bottom: 20px;

}

.contact-card-info h4 {
    margin-bottom: 5px;
    font-size: clamp(14px, 2vw, 18px); /* адаптивний розмір заголовка */
}

.contact-card-info p {
    color: rgb(117, 114, 114);
    font-size: clamp(12px, 1.5vw, 16px); /* адаптивний розмір тексту */
}

.contact-icon-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #77449c;
}

.contact-icon  {
    width: 25px;
    height: fit-content;
    margin: 13px;
}

.contact-card-info h4 {
    margin-bottom: 5px;
}

.contact-card-info p {
    color: rgb(117, 114, 114);
}

@media (max-width: 431px){
    .contact-us-container {
        grid-template-columns: 1fr;
    }
}
